.personContainer {
    border: 1px solid #01236d;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #424040;
    padding: 10px 0;
    margin: 16px auto;
    width: 40%;
    text-align: center;
    background-color: rgb(228, 226, 226);
}

.personContainer button {
  padding: 3;
  margin-left: 3;
  border-radius: 3;
  border: 1px solid #2e2e2e;
  box-shadow: 1px 1px 3px #636363;
  cursor: pointer;
}

.personContainer button:hover {
    color: red;
    scale: 1;
}